.form-input,
.form-select,
.form-datepicker {
  border-radius: 20px;
  transition: border-color 0.3s ease;
  outline: none;
  box-shadow: none;
}

.form-select:focus,
.form-input:focus,
.form-datepicker:focus {
  border-color: #ff5733;
  outline: none;
  box-shadow: none;
}

.form-checkbox .form-check-input {
  width: 20px;
  height: 20px;
  background-color: white;
  border: 2px solid #ff5733;
}

.form-checkbox .form-check-input:checked {
  background-color: #ff5733;
  border-color: #ff5733;
}

.form-checkbox .form-check-input:checked::before {
  color: white; /* Cambia el color del checkmark */
}