.home-btn {
  color: var(--trio2);
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid var(--trio);
  border-radius: 25px;
  font-size: 3rem;
  transition: background-color 0.3s ease;
}

.home-btn:hover {
  color: white;
  background-color: var(--trio);
  border: 2px solid var(--trio);
}

.register-custom {
  font-size: 3rem;
}

.home-register-section{
  height: calc(100vh - 58.72px);
  background-image: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)),url("../../assets/images/prueba.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  h1{
    color: white;
  }
  
}

.home-info-section{
  min-height: 100vh;

  .division-section{
    background-color: var(--trio);
    color: white;

    text-align: center;
    padding-block: 20px;
  }
}