:root {
  --trio2: rgba(219, 74, 43, 1);
}

.nav-logo {
  height: 2rem;
}

button {
  color: var(--trio2);
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid var(--trio2);
  border-radius: 25px;
  min-width: 10rem;
  font-size: 1.3rem;
  transition: background-color 0.2s ease;
}

button:hover {
  color: white;
  background-color: var(--trio2);
  border: 2px solid var(--trio2);
}